body{
    background-color: white;

}



 /* Text box layer  */
.text-box {
 font-size: 2rem;
   display: flex;
   justify-content: center;
   position: absolute;
   color:#fff;
   /* bottom:-70%; */
   left:38%;
   top:35%;

    /* transform: translate(-50%, -50%); */
   
}

#Home{
    /* top: 22%; */
}

/* .text-box h1 {
    font-size: 45px;
} */

/* second section */

.contain {
    margin-top: 15px;
    display: flex;
    padding: 0% 5% 5% 2%;
    justify-content: space-between;
    background-size: cover;
    background-color: #fff;
  
}
.heroimage{
    position: relative;
    height: 50vh;
}

.head2 {
    width: 100%;
  
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  
    padding-top:2rem;
   font-weight: bolder;
   
}
.contain h1{
    font-size: 40px;
    font-weight: bolder;
}

.contain .second-sec {
    padding-top: 0%;
    padding-left: 5%;
    color: #000000;
    line-height: 35px;
    text-align: justify;
    font-size: 20px;
    position: relative;

}

/* Third section */
.contain3 {
    margin-top: 15px;
    display: flex;
    padding: 0% 5% 5% 2%;
    justify-content: space-between;
    background-size: cover;
   background-color: #fafafa;
}

.part-imgs{

    background-color: #fafafa;
}

.head2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
   font-weight: bolder;
   
}
.contain3 h1{
    font-size: 40px;
    font-weight: bolder;
}
.second-sec p{
    font-size: 2rem;
    line-height: 2;
}
.contain3 .third-sec {
    padding-top: 0%;
    /* padding-left: 5%; */
    color: #000000;
    /* line-height: 35px; */
    text-align: justify;
    font-size: 20px;
    /* position: relative; */
}

.images-con {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    min-height: 200px;
    justify-content: space-between;
    padding-left: 21%;
    padding-right: 21%
}

.con3img3{
    padding-left: 36%;

}
.con3img3 img{
    width:50%;
}
/* .d-flex{
    display: flex;
}

.bmem{
    outline: 2px solid blue;
    flex-direction: column;
    align-items: center;
}

.reg{
    margin-top: -10px;
} */

/* Fourth Section */

.contain {
    margin-top: 15px;
    display: flex;
    padding: 0% 5% 5% 2%;
    justify-content: space-between;
    background-size: cover;
    background-color: #fff;
}

.head2 {
    /* display: flex;
    justify-content: center;
    margin-bottom: 1em;
   font-weight: bolder; */
   
}
.contain h1{
    font-size: 40px;
    font-weight: bolder;
}

.contain .fourth-sec {
    padding-top: 0%;
    padding-left: 15%;
    color: #000000;
    line-height: 35px;
    text-align: justify;
    font-size: 20px;
    position: relative;
}

/* /* Fifth Section */
.contain5{
    margin-left: 15%;
    margin-top: 20px;
    padding-bottom: 60px;
}

input{
    padding: 15px 4px;
    width: 400px;
    outline: none;
   
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #061E36;
}

#f-width{
    width: 82%;

}


.reg-btn{
    top: 30px;
    right: 810px;
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #061E36;
}

#btn{
    width: 15%;
}
.hh{
    
    margin-left: 42%;
 padding-bottom:2rem ;
}
.xh{
    margin-left: 5%;
   font-size: 2rem;
}
.partner-fs{
    font-size: 2rem;
    line-height: 1.5;
}
 

.form-text {
    margin-left: 250px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
}

input::placeholder{
    font-size: 1.8rem;
}

textarea::placeholder{
    font-size: 1.8rem;
} 

.reg-form {
    margin-left: 250px;
    margin-top: 40px;
    padding-bottom: 60px;
    
}



.input-field {
    padding:25px 4px;
    width: 600px;
    outline: none;
    background-color: #fafafa;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #061E36;
    margin-left: 20px;
}

#description , #address {
    width: 1230px;
    /*border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 0;
    border-bottom: #061E36 1px solid;*/
}

.reg-btn {
    position: relative;
    top: 40px;
    right: 1210px;
    padding: 18px 90px;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    background-color: #061E36;
}